@model DBTProject.Incident

@{
    ViewBag.Title = "Export";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Tutorial</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                <label>Fecha de inicio</label> 
                <input type="date" name="StartDate" required/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Fecha de inicio</label>
                <input type="date" name="EndDate" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Export" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>